{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

    <form action="/sell" method="POST">
        <select name="symbol">
            <option disabled selected value="">Stock's symbol</option>
            {% for symbol in symbols %}
                <option value="{{ symbol.quote_symbol }}">{{ symbol.quote_symbol }}</option>
            {% endfor %}
        </select>
        <input autocomplete="off" type="text" name="shares" placeholder="Shares" min="1">
        <button type="submit">Sell</button>
    </form>

{% endblock %}
